
    <image id="long_boat" src="{% static 'longboat.png' %}" style="display:none"/>
    <image id="classic" src="{% static 'classic.png' %}" style="display:none"/>
    <button id="button" class="btn">Oi</button>

    <button id="start" class="btn">Microphone</button>
    <script type="text/javascript">

        let cnv = document.querySelector('#cnv');
        let ctx = cnv.getContext('2d');
        let ctx2 = cnv.getContext('2d');
        var long_boat = document.querySelector("#long_boat");
        var classic = document.querySelector("#classic");

        

        var r = document.querySelector('#result');
        var start = document.querySelector('#start');

        let button = document.querySelector('#button');

        let width = cnv.width
        let height = cnv.height

        let player = {
            radius: 4,
            px: 15,
            py: 250,
            vx: 0,
            vy: 0
        };
        let enemy = {
            radius: 4,
            px: 900,
            py: 150,
            vx: -0.18,
            vy: 0
        };

//         base_image = new Image();
//   base_image.src = 'img/base.png';
//   base_image.onload = function(){
//     context.drawImage(base_image, 0, 0);
        // function classic() {
        //     long_boat = classic
        // }


        function draw() {
            ctx.clearRect(0, 0, cnv.width, cnv.height)
            ctx.drawImage(classic, player.px, player.py, 120, 120);

            ctx2.clearRect(0, 0, cnv.width, cnv.height)
            ctx2.drawImage(long_boat, enemy.px, enemy.py, 120, 120);
            // ctx.beginPath();
            // ctx.arc(ball.px, ball.py, 15, 0, 2 * Math.PI);
            //ctx.fillStyle = 'rgba(245,255,250,0.1)';
            // ctx.stroke()
            // ctx.fill();
            // ctx2.fill();
                
        }

        draw()
2

        function main_loop() {
            // ball.vy += .1 // gravity

            player.px += player.vx
            player.py += player.vy
            enemy.px = enemy.px + ball2.vx
            enemy.py = enemy.py + ball2.vy

            // if (ball.px >= 750 || ball.px <= 0){
            //         ball.vx *= 0.99
            //         ball.vx *= -1
            // }
            // if(ball.py >= 750 || ball.py <= 0){
            //         ball.vy *= 0.99
            //         ball.vy *= -1
            // }

            draw()


            window.requestAnimationFrame(main_loop);
        }
        window.requestAnimationFrame(main_loop);

