<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>
        <style>
            .cnv {
                background-color:rgb(139,0,0);
                border: 1px solid black;
                margin: .05% 9% 1% 23%;
            }
            .cnv2 {
                background-color:rgb(178,34,34);
                border: 1px solid black;
                margin: .05% 9% 1% 23%;
            }
            .cnv3 {
                background-color:rgb(220,20,60);
                border: 1px solid black;
                margin: .05% 9% 1% 23%;
            }
            .cnv4 {
                background-color:rgb(205,92,92);
                border: 1px solid black;
                margin: .05% 9% 1% 23%;
            }
        </style>

    </head>

   
<body>
    <!-- Setting up canvas -->
    <canvas id="cnv" class="cnv" width="650" height="650"></canvas>

    <script>
            let cnv = document.querySelector('#cnv');
            cnv.backgroundColor = 'red';
            let width = cnv.width
            let height = cnv.height
            let ctx = cnv.getContext('2d');
        
            let player = {
                px: 325,
                py: 550,
                vx: 0,
                vy: 0,
                width: 20,
                height: 20
            };
        
            let left_wall = {
                px: 0,
                py: -9000,
                vx: 0,
                vy: 0,
                width: 150,
                height: 10000
            }
        
            let right_wall = {
                px: cnv.width - 150,
                py: -9000,
                vx: 0,
                vy: .0,
                width: 150,
                height: 10000
            }
            let floor = {
                px: 0,
                py: 610,    
                vx: 0,
                vy: 0,
                width: 650,
                height: 40
            }
            let death = {
                px: 151,
                py: 1,
                vx: 0,
                vy: .3,
                width: 30,
                height: 30
            };
            let death2 = {
                px: 182,
                py: 1,
                vx: 0,
                vy: .1,
                width: 30,
                height: 30
            };
            let death3 = {
                px: 213,
                py: 1,
                vx: 0,
                vy: .4,
                width: 30,
                height: 30
            };
            let death4 = {
                px: 244,
                py: 1,
                vx: 0,
                vy: .2,
                width: 30,
                height: 30
            };
            let death5 = {
                px: 275,
                py: 1,
                vx: 0,
                vy: .1,
                width: 30,
                height: 30
            };
            let death6 = {
                px: 306,
                py: 1,
                vx: 0,
                vy: .4,
                width: 30,
                height: 30
            };
            let death7 = {
                px: 337,
                py: 1,
                vx: 0,
                vy: .2,
                width: 30,
                height: 30
            };
            let death8 = {
                px: 368,
                py: 1,
                vx: 0,
                vy: .4,
                width: 30,
                height: 30
            };
            let death9 = {
                px: 399,
                py: 1,
                vx: 0,
                vy: .3,
                width: 30,
                height: 30
            };
            let death10 = {
                px: 430,
                py: 1,
                vx: 0,
                vy: .1,
                width: 30,
                height: 30
            };
            let death11 = {
                px: 461 ,
                py: 1,
                vx: 0,
                vy: .3,
                width: 30,
                height: 30
            };
        

            //function for drawing objects on canvas
            function draw() {
            //clear canvas each time function is called
            ctx.clearRect(0, 0, cnv.width, cnv.height)

            
                            
            ctx.beginPath();
                ctx.rect(left_wall.px, left_wall.py, left_wall.width, left_wall.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(160,82,45)';
                ctx.fill()
            
            ctx.beginPath();
                ctx.rect(right_wall.px, right_wall.py, right_wall.width, right_wall.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(160,82,45)';
                ctx.fill()
        

            ctx.beginPath();
                ctx.rect(player.px, player.py, player.width, player.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(102,205,170)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death.px, death.py, death.width, death.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death2.px, death2.py, death2.width, death2.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death3.px, death3.py, death3.width, death3.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death4.px, death4.py, death4.width, death4.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death5.px, death5.py, death5.width, death5.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()
            ctx.beginPath();
                ctx.rect(death6.px, death6.py, death6.width, death6.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death7.px, death7.py, death7.width, death7.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death8.px, death8.py, death8.width, death8.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death9.px, death9.py, death9.width, death9.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

            ctx.beginPath();
                ctx.rect(death10.px, death10.py, death10.width, death10.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()
            ctx.beginPath();
                ctx.rect(death11.px, death11.py, death11.width, death11.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(70,130,180)';
                ctx.fill()

                        
            ctx.beginPath();
                ctx.rect(floor.px, floor.py, floor.width, floor.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(188,143,143)';
                ctx.fill()
            }
        
    
            
            function main_loop() {
    
                if (check_collision(player, right_wall)) { 
    
                    player.px -= 1
                    player.vx = 0
                    player.vy = 0
                }
                if (check_collision(player, left_wall)) {
    
                    player.px += 1
                    player.vx = 0
                    player.vy = 0
    
                }
                if (check_collision(player, floor)) {
    
                    player.py -= 25
                    player.vy = -4.3
                }
                if (check_collision(player, death) || check_collision(player, death2)) { // lose
    
                    player.py = 550
                    player.vy = 325
                }
                if (check_collision(player, death3) || check_collision(player, death4)) { // lose
    
                    player.py = 550
                    player.vy = 325
                }
                if (check_collision(player, death5) || check_collision(player, death6)) { // lose
    
                    player.py = 550
                    player.vy = 325
                }
                if (check_collision(player, death7) || check_collision(player, death8)) { // lose
    
                    player.py = 550
                    player.vy = 325
                }
                if (check_collision(player, death9) || check_collision(player, death10)) { // lose
    
                    player.py = 550
                    player.vy = 325
                }
                if (check_collision(player, death11)) { // lose
    
                    player.py = 550
                    player.vy = 325
                }
    
    
                
            
                //update position of objects in canvas
                player.vy += .065
    
                player.px += player.vx
                player.py += player.vy
    
                left_wall.px += left_wall.vx
                left_wall.py += left_wall.vy
            
                right_wall.px += right_wall.vx
                right_wall.py += right_wall.vy
    
                death.px += death.vx
                death.py += death.vy
    
                death2.px += death2.vx
                death2.py += death2.vy
    
                death3.px += death3.vx
                death3.py += death3.vy
    
                death4.px += death4.vx
                death4.py += death4.vy
    
                death5.px += death5.vx
                death5.py += death5.vy
    
                death6.px += death6.vx
                death6.py += death6.vy
    
                death7.px += death7.vx
                death7.py += death7.vy
    
                death8.px += death8.vx
                death8.py += death8.vy
    
                death9.px += death9.vx
                death9.py += death9.vy
    
                death10.px += death10.vx
                death10.py += death10.vy
    
                death11.px += death11.vx
                death11.py += death11.vy
    
                if(player.py >= 600){
                
                    cnv.classList.remove("cnv2");
                    cnv.classList.add("cnv");
                    player.py -= 550
                    right_wall.py -= 550
                    left_wall.py -= 550
                    floor.py -= 550
                    death.py -= 550
                    death11.py -= 550
                    death2.py -= 550
                    death3.py -= 550
                    death4.py -= 550
                    death5.py -= 550
                    death6.py -= 550
                    death7.py -= 550
                    death8.py -= 550
                    death9.py -= 550
                    death10.py -= 550
            
                    
                }
                if (player.py <= 0){
                    
                    cnv.classList.remove("cnv");
                    cnv.classList.add("cnv2");
                    player.py += 550
                    right_wall.py += 550
                    left_wall.py += 550
                    floor.py += 550
                    death.py += 550
                    death11.py += 550
                    death2.py += 550
                    death3.py += 550
                    death4.py += 550
                    death5.py += 550
                    death6.py += 550
                    death7.py += 550
                    death8.py += 550
                    death9.py += 550
                    death10.py += 550
                    
                }
    
                document.body.onkeyup = function(e){

                    // detect space bar hit, call create_block, push the block onto the new array

                    if(e.keyCode == 32) {
                        player.vy = -4.3
            
                    }
                    if (player.vx == 0){
                        if (e.keyCode == 65) {
                            player.vx = -4.3
                        } else if (e.keyCode == 68) {
                            player.vx = 4.3
                        }
                    }
                }
                
                draw()
                window.requestAnimationFrame(main_loop);
                
            }
            window.requestAnimationFrame(main_loop);
    
    
            // function for calculating the overlap between two rectangles
            function check_collision(rect1, rect2) {
                let x_overlap = Math.max(0, Math.min(rect1.px + rect1.width, rect2.px + rect2.width) - Math.max(rect1.px, rect2.px))
                let y_overlap = Math.max(0, Math.min(rect1.py + rect1.height, rect2.py + rect2.height) - Math.max(rect1.py, rect2.py))
                let overlapArea = x_overlap * y_overlap
                return overlapArea != 0
            }
    
        
        </script>
</body>


</html>