<html>
    <head>

    </head>
    <body>
        <script>
            var speechRecognizer = new webkitSpeechRecognition();
            speechRecognizer.continuous = true;
            speechRecognizer.interimResults = true;
            speechRecognizer.lang = 'en-US';
            console.log(speechRecognizer)
            speechRecognizer.onresult = function(event) {
                var last = event.results.length - 1;
                var command = event.results[last][0].transcript;
                console.log(command)
            }
            speechRecognizer.start()
        </script>
    </body>
</html>