/* #####################################################
    -FONTS-
#####################################################*/

@import url('https://fonts.googleapis.com/css?family=Parisienne');



/* #####################################################
    -BODY-
#####################################################*/

.body_{
    background-color: rgba(176,224,230,10);
}

.body_2{
    background-color: rgba(176,124,130,10);
}



/* #####################################################
    -FORMS-
#####################################################*/

.reg_form {
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    background-color:rgba(255,255,240, .6);
    padding: 25px;
    color:black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 16% 0% 16%;
    text-align:left;
    box-shadow: 0 0 10px 0 rgba(143,188,143,.7);
}

.log_form{
    display: flex;
    background-color:rgba(255,255,240, .6);
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 16% 0% 16%;
    text-align:center;
    box-shadow: 0 0 10px 0 rgba(143,188,143,.7);
}



/* #####################################################
    -BUTTONS-
#####################################################*/

.btn{
    display: flex;
    font-size: 100%;
    font-family: 'Parisienne', cursive;
    background-color:rgba(255,255,240, .6);
    border-radius: 8px 8px 8px 8px;
    width: 8%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5% 16% 0% 46.5%;
    text-align:center;
    box-shadow: 0 0 10px 0 rgba(143,188,143,.7);
}

.btn_2{
    display: flex;
    font-size: 100%;
    font-family: 'Parisienne', cursive;
    background-color:rgba(255,127,80, .6);
    border-radius: 8px 8px 8px 8px;
    width: 8%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5% 16% 0% 45.6%;
    text-align:center;
}



/* #####################################################
    -NAVIGATION BAR-
#####################################################*/

/* Dropdown Button */
.dropbtn {
    background-color:rgba(255,255,240, .6);
    border-radius: 12px 12px 12px 12px;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    justify-content:space-evenly;
    flex-wrap: wrap;
    font-family: 'Parisienne', cursive;
    font-size: 120%;
    border: none;
    box-shadow: 0 0 10px 0 rgba(143,188,143,.7);
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(255,255,240, .6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Parisienne', cursive;
    text-decoration: none;
    display: block;

}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color:rgba(255,255,240, .6);

}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:rgba(255,255,240, .6);
}

a{
   color:black;
}



/* #####################################################
    -TITLE and IMAGE-
#####################################################*/

#constantine {
    text-shadow: 1.5px 1.5px rgba(255,255,240, .7);
    font-size: 266%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:1%
}

.flex_boat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3% 15% 0% 45%;
}

#boat {
    width: 28%;
}



/* #####################################################
    -RANDOM TEXT-
#####################################################*/

.goodbye {
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hello {
    background-color:rgba(255,255,240, .6);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 1% 15% 0% 37%;
    flex-wrap: wrap;
    width:25%;
    height: 10%;
    box-shadow: 0 0 10px 0 rgba(143,188,143,.7);
}

.hello_2 {
    background-color:rgba(255,127,80, .6);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 1% 15% 0% 37%;
    flex-wrap: wrap;
    width:25%;
    height: 10%;
    box-shadow: 0 0 10px 0 rgba(143,188,143,.7);
}

#q{
    font-size: 160%;
    font-family: 'Parisienne', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1% 0% 1% 0%;
}



/* #####################################################
    -CANVAS-
#####################################################*/

#cnv{
    border: 1px solid black;
    margin: 1% 9% 1% 9%;
}



/* #####################################################
    -FLAG-
#####################################################*/
/* 
.top_{
    background-color:rgba(230,230,250, .6);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 0% 15% 0% 40%;
    flex-wrap: wrap;
    width:20%;
    height: 5%;
}
.top_2{
    background-color:rgba(220,20,60,1);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 0% 15% 0% 40%;
    flex-wrap: wrap;
    width:20%;
    height: 5%;
}
.middle_{
    background-color:rgba(230,230,250, .6);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 0% 15% 0% 40%;
    flex-wrap: wrap;
    width:20%;
    height: 5%;
}
.middle_2{
    background-color:rgba(30,144,255,1);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 0% 15% 0% 40%;
    flex-wrap: wrap;
    width:20%;
    height: 5%;
}
.bottom_{
    background-color:rgba(230,230,250, .6);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 0% 15% 0% 40%;
    flex-wrap: wrap;
    width:20%;
    height: 5%;
}
.bottom_2{
    background-color:rgba(255,215,0,1);
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    margin: 0% 15% 0% 40%;
    flex-wrap: wrap;
    width:20%;
    height: 5%;
}
 */



/* 
.boat_sel {
    color: black;
    background-color:rgba(255,255,240, .6);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
} */