{% load static %}
<html>
    <head>
        <title>⚓⚓⚓</title>
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
    </head>
    <body class="body_">
        {% include 'users/nav_redirect.html' %}
        <div class="flex_boat">
            <a href="{% url 'boat:home' %}">
            <img id="boat" src="https://ya-webdesign.com/images/caravel-drawing-big-boat-5.png">
            </a>
        </div>
        <span id="constantine">Constantine</span>


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>