<html>
    <meta charset="UTF-8"> 
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>
        <style>
            .cnv {
                border: 1px solid black;
                margin: .05% 9% 1% 23%;
            }
        </style>
    </head>
    <body>
        <!-- Setting up canvas -->
        <canvas id="cnv" class="cnv" width="650" height="650"></canvas>
        <script>
            let cnv = document.querySelector('#cnv');
            cnv.backgroundColor = 'red';
            let width = cnv.width
            let height = cnv.height
            let ctx = cnv.getContext('2d');
        
            let player = {
                px: 325,
                py: 550,
                vx: 0,
                vy: 0,
                width: 20,
                height: 20
            };
        
            let left_wall = {
                px: 0,
                py: -9000,
                vx: 0,
                vy: 0,
                width: 150,
                height: 10000
            }
        
            let right_wall = {
                px: cnv.width - 150,
                py: -9000,
                vx: 0,
                vy: .0,
                width: 150,
                height: 10000
            }

            let floor = {
                px: 0,
                py: 610,    
                vx: 0,
                vy: 0,
                width: 650,
                height: 40
            }

            function create_block() {
                let random_px = chance.integer({ min: 150, max: 470 })
                let random_vy = chance.floating({ min: .5, max: 1.2 })
                let new_block = {
                    px: random_px,
                    py: 1,
                    vx: 0,
                    vy: random_vy,
                    width: 30,
                    height: 30,
                }
                return new_block
            }

            let blocks = []
            let time = 1000000
            let spawn_rate = 3000
            setInterval(function() {
                if(time > 0) {
                    time--;
                }
                blocks.push(create_block())
            },spawn_rate)

            let level = 0




            //function for drawing objects on canvas
            function draw() {
                //clear canvas each time function is called
                //ctx.clearRect(0, 0, cnv.width, cnv.height)
                
                ctx.fillStyle = `hsl(128,100%,${level*10}%)`
                ctx.fillRect(0, 0, cnv.width, cnv.height)

                
                                
                ctx.beginPath();
                ctx.rect(left_wall.px, left_wall.py, left_wall.width, left_wall.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(160,82,45)';
                ctx.fill()
                
                ctx.beginPath();
                ctx.rect(right_wall.px, right_wall.py, right_wall.width, right_wall.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(160,82,45)';
                ctx.fill()

                ctx.beginPath();
                ctx.rect(player.px, player.py, player.width, player.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(102,205,170)';
                ctx.fill()

                for (let i=0; i<blocks.length; i++) {
                    ctx.beginPath();
                    ctx.rect(blocks[i].px, blocks[i].py, blocks[i].width, blocks[i].height);
                    ctx.lineWidth = 3;
                    ctx.fillStyle = 'rgb(70,130,180)';
                    ctx.fill()
                }
                ctx.beginPath();
                ctx.rect(floor.px, floor.py, floor.width, floor.height);
                ctx.lineWidth = 3;
                ctx.fillStyle = 'rgb(188,143,143)';
                ctx.fill()
            
            }
            function main_loop() {
    
                if (check_collision(player, right_wall)) { 

                    player.px -= 1
                    player.vx = 0
                    player.vy = 0
                }
                if (check_collision(player, left_wall)) {

                    player.px += 1
                    player.vx = 0
                    player.vy = 0

                }
                if (check_collision(player, floor)) {

                    player.py -= 25
                    player.vy = -4.3
                }
                for (let i=0; i<blocks.length; i++) {
                    if (check_collision(player, blocks[i])) {
                        player.vx = 0
                        player.vy = 0
                        player.px = 325
                        player.py = 550
                        level = 0
                        blocks = [] 

                    }
                }

                        

                //update position of objects in canvas
                player.vy += .065
    
                player.px += player.vx
                player.py += player.vy

                left_wall.px += left_wall.vx
                left_wall.py += left_wall.vy

                right_wall.px += right_wall.vx
                right_wall.py += right_wall.vy
                
                for (let i=0; i<blocks.length; i++) {
                    blocks[i].px += blocks[i].vx
                    blocks[i].py += blocks[i].vy
                }


                if (player.py >= 600) {
                
                    cnv.classList.remove("cnv2");
                    cnv.classList.add("cnv");
                    player.py -= 550
                    right_wall.py -= 550
                    left_wall.py -= 550
                    floor.py -= 550
                    level -= 1
                    if (level < 0) {
                        level = 0
                    }
                }
                if (player.py <= 0) {
                    
                    cnv.classList.remove("cnv");
                    cnv.classList.add("cnv2");
                    player.py += 550
                    right_wall.py += 550
                    left_wall.py += 550
                    floor.py += 550
                    level += 1
                    if (spawn_rate > 1500) {
                        spawn_rate -= 500
                    }

                    
                    blocks = []
                }


                draw()
                window.requestAnimationFrame(main_loop);
            }
            window.requestAnimationFrame(main_loop);


            // function for calculating the overlap between two rectangles
            function check_collision(rect1, rect2) {
                let x_overlap = Math.max(0, Math.min(rect1.px + rect1.width, rect2.px + rect2.width) - Math.max(rect1.px, rect2.px))
                let y_overlap = Math.max(0, Math.min(rect1.py + rect1.height, rect2.py + rect2.height) - Math.max(rect1.py, rect2.py))
                let overlapArea = x_overlap * y_overlap
                return overlapArea != 0
            }

            document.body.onkeyup = function(e) {

                // detect space bar hit, call create_block, push the block onto the new array
                if (e.keyCode == 32) {
                    player.vy = -4.3
                }
                if (player.vx == 0){
                    if (e.keyCode == 65) {
                        player.vx = -4.3
                    } else if (e.keyCode == 68) {
                        player.vx = 4.3
                    }
                }
            }
        </script>
    </body>
</html>