@import url('https://fonts.googleapis.com/css?family=Parisienne');

body{
    background-color: rgba(176,224,230,10);
}
.reg_form {
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    background-color:rgba(240,255,255, 0.4);
    padding: 25px;
    text-color:black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 16% 0% 16%;
    text-align:left;
}

.log_form{
    display: flex;
    background-color:rgba(240,255,255, 0.2);
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 16% 0% 16%;
    text-align:center;
}

.btn{
    display: flex;
    font-size: 100%;
    font-family: 'Parisienne', cursive;
    background-color:rgba(240,255,255, 0.7);
    border-radius: 8px 8px 8px 8px;
    width: 8%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5% 16% 0% 46.5%;
    text-align:center;
}


.nav{
    background-color:rgba(240,255,240,.2);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    margin: 0% 15% 0% 37%;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width:25%;
    height: 10%;
}

#users_nav {
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    position: -webkit-sticky;
    position: sticky;
    padding: 25px;
    text-color:black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 16% 0% 16%;
    text-align:center;
}

a{
   color:black;
}




.flex_boat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3% 15% 0% 45%;
}

#boat {
    width: 28%;
}

.goodbye {
    text-align: center;
    font-size: 120%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#constantine {
      text-shadow: 1.5px 1.5px rgba(240,255,240,10);
    font-size: 266%;
    font-family: 'Parisienne', cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:1%

}